* {  margin:0px; padding:0px; }

body{ background: url(fotos/infor.jpg) no-repeat center fixed; background-size:cover;}

.espacio{ width:1000px; height:35px; background:none; }

.barra{ background:skyblue; height:75px; width:980px; font-size:65px; text-align:center; color:black;  margin-top:7px; }

header nav{ background:skyblue; overflow:hidden; height:60px; }

header nav ul{list-style:none; }

header nav ul li{ float:right; }

header nav ul li a{ width:90px; height:20px; display:block; color:black; text-decoration:none;
 background:lime; margin-right:12px; margin-top:2px; font-size:13px; padding:10px;}

header nav ul li a p {text-align:middle-center; font-size:23px;}

header nav ul li a:hover{ background:red; }

header { background:skyblue; height:50px; width:1000px; margin:auto; }

section { margin:auto; background:skyblue; height:610px; width:980px; padding:10px; }

article { background:skyblue; height:400px; width:540px; float:left; margin:5px; margin-top:5px; } 

img{
	max-width:100%;
	max-height:100%;
	transition:0.75s;
}

p { color: black; text-align:justify; font-size:20px}


